@import "sprite";
@import "mixins";
@import "variables";
@import "font";
@import "section/_header";
@import "section/_navigation";
@import "section/_content";
@import "section/_aside";
@import "section/_container";
@import "section/_information";
@import "section/_products";
@import "section/_footer";


.wrapper {
  width: 100%;
  background: #f4f4f4;
}

.main_products {
  width: 743px;
  float: right;
}

.active-slide {
  border: 1px solid #ff6600;
  border-radius: 5px;
}

.active__link {
  background: rgba(158, 158, 158, 0.16);
}