@import "sprite";
@import "mixins";
@import "variables";
@import "font";
@import "section/_header";
@import "section/_navigation";
@import "section/_content";
@import "section/_aside";
@import "section/_container";
@import "section/_button";
@import "section/_information";
@import "section/_products";
@import "section/_footer";


.wrapper {
  width: 100%;
  background: #f4f4f4;
}

.main_products {
  width: 799px;
  float: right;
}

.active-slide {
 outline: 1px solid #ff6600;

  .slideshow__link {
    border: none;
  }
}

.container__item--active {
  .container__link--first {
    &:after {
      content: '';
      display: block;
      position: absolute;

      @include sprite($menu-1-hover);
      top: 17px;
      left: 19px;
    }
  }
}
.container__item--active {
  .container__link--second {
    &:after {
      content: '';
      display: block;
      position: absolute;

      @include sprite($menu-2-hover);
      top: 17px;
      left: 19px;
    }
  }
}
.container__item--active {
  .container__link--third {
    &:after {
      content: '';
      display: block;
      position: absolute;

      @include sprite($menu-3-hover);
      top: 17px;
      left: 19px;
    }
  }
}

.active__link {
  background: rgba(158, 158, 158, 0.16);
}

.main__link--active {
  background: #ff6600;
  color: #FFFFFF;
}

.active-class {
  .filter__title {
    position: relative;
    &:before {
      content: '';
      display: block;
      position: absolute;
      right: 10px;

      @include sprite($arrow-bottom);
    }
    &:after {
      display: none;
    }
  }
}