/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$arrow-name: 'arrow';
$arrow-x: 32px;
$arrow-y: 112px;
$arrow-offset-x: -32px;
$arrow-offset-y: -112px;
$arrow-width: 18px;
$arrow-height: 11px;
$arrow-total-width: 155px;
$arrow-total-height: 142px;
$arrow-image: '../img/sprite.png';
$arrow: (32px, 112px, -32px, -112px, 18px, 11px, 155px, 142px, '../img/sprite.png', 'arrow', );
$checkbox-name: 'checkbox';
$checkbox-x: 106px;
$checkbox-y: 102px;
$checkbox-offset-x: -106px;
$checkbox-offset-y: -102px;
$checkbox-width: 13px;
$checkbox-height: 10px;
$checkbox-total-width: 155px;
$checkbox-total-height: 142px;
$checkbox-image: '../img/sprite.png';
$checkbox: (106px, 102px, -106px, -102px, 13px, 10px, 155px, 142px, '../img/sprite.png', 'checkbox', );
$chek-name: 'chek';
$chek-x: 129px;
$chek-y: 52px;
$chek-offset-x: -129px;
$chek-offset-y: -52px;
$chek-width: 19px;
$chek-height: 19px;
$chek-total-width: 155px;
$chek-total-height: 142px;
$chek-image: '../img/sprite.png';
$chek: (129px, 52px, -129px, -52px, 19px, 19px, 155px, 142px, '../img/sprite.png', 'chek', );
$fb-2-name: 'fb-2';
$fb-2-x: 0px;
$fb-2-y: 0px;
$fb-2-offset-x: 0px;
$fb-2-offset-y: 0px;
$fb-2-width: 43px;
$fb-2-height: 43px;
$fb-2-total-width: 155px;
$fb-2-total-height: 142px;
$fb-2-image: '../img/sprite.png';
$fb-2: (0px, 0px, 0px, 0px, 43px, 43px, 155px, 142px, '../img/sprite.png', 'fb-2', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 43px;
$fb-hover-y: 0px;
$fb-hover-offset-x: -43px;
$fb-hover-offset-y: 0px;
$fb-hover-width: 43px;
$fb-hover-height: 43px;
$fb-hover-total-width: 155px;
$fb-hover-total-height: 142px;
$fb-hover-image: '../img/sprite.png';
$fb-hover: (43px, 0px, -43px, 0px, 43px, 43px, 155px, 142px, '../img/sprite.png', 'fb-hover', );
$fb-hover2-name: 'fb-hover2';
$fb-hover2-x: 129px;
$fb-hover2-y: 0px;
$fb-hover2-offset-x: -129px;
$fb-hover2-offset-y: 0px;
$fb-hover2-width: 26px;
$fb-hover2-height: 26px;
$fb-hover2-total-width: 155px;
$fb-hover2-total-height: 142px;
$fb-hover2-image: '../img/sprite.png';
$fb-hover2: (129px, 0px, -129px, 0px, 26px, 26px, 155px, 142px, '../img/sprite.png', 'fb-hover2', );
$fb-name: 'fb';
$fb-x: 80px;
$fb-y: 86px;
$fb-offset-x: -80px;
$fb-offset-y: -86px;
$fb-width: 26px;
$fb-height: 26px;
$fb-total-width: 155px;
$fb-total-height: 142px;
$fb-image: '../img/sprite.png';
$fb: (80px, 86px, -80px, -86px, 26px, 26px, 155px, 142px, '../img/sprite.png', 'fb', );
$menu-1-name: 'menu-1';
$menu-1-x: 106px;
$menu-1-y: 86px;
$menu-1-offset-x: -106px;
$menu-1-offset-y: -86px;
$menu-1-width: 16px;
$menu-1-height: 16px;
$menu-1-total-width: 155px;
$menu-1-total-height: 142px;
$menu-1-image: '../img/sprite.png';
$menu-1: (106px, 86px, -106px, -86px, 16px, 16px, 155px, 142px, '../img/sprite.png', 'menu-1', );
$menu-2-name: 'menu-2';
$menu-2-x: 129px;
$menu-2-y: 87px;
$menu-2-offset-x: -129px;
$menu-2-offset-y: -87px;
$menu-2-width: 16px;
$menu-2-height: 16px;
$menu-2-total-width: 155px;
$menu-2-total-height: 142px;
$menu-2-image: '../img/sprite.png';
$menu-2: (129px, 87px, -129px, -87px, 16px, 16px, 155px, 142px, '../img/sprite.png', 'menu-2', );
$menu-3-name: 'menu-3';
$menu-3-x: 129px;
$menu-3-y: 71px;
$menu-3-offset-x: -129px;
$menu-3-offset-y: -71px;
$menu-3-width: 16px;
$menu-3-height: 16px;
$menu-3-total-width: 155px;
$menu-3-total-height: 142px;
$menu-3-image: '../img/sprite.png';
$menu-3: (129px, 71px, -129px, -71px, 16px, 16px, 155px, 142px, '../img/sprite.png', 'menu-3', );
$phone-name: 'phone';
$phone-x: 12px;
$phone-y: 126px;
$phone-offset-x: -12px;
$phone-offset-y: -126px;
$phone-width: 12px;
$phone-height: 16px;
$phone-total-width: 155px;
$phone-total-height: 142px;
$phone-image: '../img/sprite.png';
$phone: (12px, 126px, -12px, -126px, 12px, 16px, 155px, 142px, '../img/sprite.png', 'phone', );
$pin-name: 'pin';
$pin-x: 0px;
$pin-y: 126px;
$pin-offset-x: 0px;
$pin-offset-y: -126px;
$pin-width: 12px;
$pin-height: 16px;
$pin-total-width: 155px;
$pin-total-height: 142px;
$pin-image: '../img/sprite.png';
$pin: (0px, 126px, 0px, -126px, 12px, 16px, 155px, 142px, '../img/sprite.png', 'pin', );
$select-arror-name: 'select-arror';
$select-arror-x: 129px;
$select-arror-y: 103px;
$select-arror-offset-x: -129px;
$select-arror-offset-y: -103px;
$select-arror-width: 13px;
$select-arror-height: 9px;
$select-arror-total-width: 155px;
$select-arror-total-height: 142px;
$select-arror-image: '../img/sprite.png';
$select-arror: (129px, 103px, -129px, -103px, 13px, 9px, 155px, 142px, '../img/sprite.png', 'select-arror', );
$slider-name: 'slider';
$slider-x: 145px;
$slider-y: 71px;
$slider-offset-x: -145px;
$slider-offset-y: -71px;
$slider-width: 8px;
$slider-height: 14px;
$slider-total-width: 155px;
$slider-total-height: 142px;
$slider-image: '../img/sprite.png';
$slider: (145px, 71px, -145px, -71px, 8px, 14px, 155px, 142px, '../img/sprite.png', 'slider', );
$star-red-name: 'star-red';
$star-red-x: 0px;
$star-red-y: 112px;
$star-red-offset-x: 0px;
$star-red-offset-y: -112px;
$star-red-width: 16px;
$star-red-height: 14px;
$star-red-total-width: 155px;
$star-red-total-height: 142px;
$star-red-image: '../img/sprite.png';
$star-red: (0px, 112px, 0px, -112px, 16px, 14px, 155px, 142px, '../img/sprite.png', 'star-red', );
$star-name: 'star';
$star-x: 16px;
$star-y: 112px;
$star-offset-x: -16px;
$star-offset-y: -112px;
$star-width: 16px;
$star-height: 14px;
$star-total-width: 155px;
$star-total-height: 142px;
$star-image: '../img/sprite.png';
$star: (16px, 112px, -16px, -112px, 16px, 14px, 155px, 142px, '../img/sprite.png', 'star', );
$tw-2-name: 'tw-2';
$tw-2-x: 43px;
$tw-2-y: 43px;
$tw-2-offset-x: -43px;
$tw-2-offset-y: -43px;
$tw-2-width: 43px;
$tw-2-height: 43px;
$tw-2-total-width: 155px;
$tw-2-total-height: 142px;
$tw-2-image: '../img/sprite.png';
$tw-2: (43px, 43px, -43px, -43px, 43px, 43px, 155px, 142px, '../img/sprite.png', 'tw-2', );
$tw-hover-name: 'tw-hover';
$tw-hover-x: 0px;
$tw-hover-y: 43px;
$tw-hover-offset-x: 0px;
$tw-hover-offset-y: -43px;
$tw-hover-width: 43px;
$tw-hover-height: 43px;
$tw-hover-total-width: 155px;
$tw-hover-total-height: 142px;
$tw-hover-image: '../img/sprite.png';
$tw-hover: (0px, 43px, 0px, -43px, 43px, 43px, 155px, 142px, '../img/sprite.png', 'tw-hover', );
$tw-hover2-name: 'tw-hover2';
$tw-hover2-x: 129px;
$tw-hover2-y: 26px;
$tw-hover2-offset-x: -129px;
$tw-hover2-offset-y: -26px;
$tw-hover2-width: 26px;
$tw-hover2-height: 26px;
$tw-hover2-total-width: 155px;
$tw-hover2-total-height: 142px;
$tw-hover2-image: '../img/sprite.png';
$tw-hover2: (129px, 26px, -129px, -26px, 26px, 26px, 155px, 142px, '../img/sprite.png', 'tw-hover2', );
$tw-name: 'tw';
$tw-x: 54px;
$tw-y: 86px;
$tw-offset-x: -54px;
$tw-offset-y: -86px;
$tw-width: 26px;
$tw-height: 26px;
$tw-total-width: 155px;
$tw-total-height: 142px;
$tw-image: '../img/sprite.png';
$tw: (54px, 86px, -54px, -86px, 26px, 26px, 155px, 142px, '../img/sprite.png', 'tw', );
$vk-2-name: 'vk-2';
$vk-2-x: 86px;
$vk-2-y: 0px;
$vk-2-offset-x: -86px;
$vk-2-offset-y: 0px;
$vk-2-width: 43px;
$vk-2-height: 43px;
$vk-2-total-width: 155px;
$vk-2-total-height: 142px;
$vk-2-image: '../img/sprite.png';
$vk-2: (86px, 0px, -86px, 0px, 43px, 43px, 155px, 142px, '../img/sprite.png', 'vk-2', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 86px;
$vk-hover-y: 43px;
$vk-hover-offset-x: -86px;
$vk-hover-offset-y: -43px;
$vk-hover-width: 43px;
$vk-hover-height: 43px;
$vk-hover-total-width: 155px;
$vk-hover-total-height: 142px;
$vk-hover-image: '../img/sprite.png';
$vk-hover: (86px, 43px, -86px, -43px, 43px, 43px, 155px, 142px, '../img/sprite.png', 'vk-hover', );
$vk-hover2-name: 'vk-hover2';
$vk-hover2-x: 0px;
$vk-hover2-y: 86px;
$vk-hover2-offset-x: 0px;
$vk-hover2-offset-y: -86px;
$vk-hover2-width: 27px;
$vk-hover2-height: 26px;
$vk-hover2-total-width: 155px;
$vk-hover2-total-height: 142px;
$vk-hover2-image: '../img/sprite.png';
$vk-hover2: (0px, 86px, 0px, -86px, 27px, 26px, 155px, 142px, '../img/sprite.png', 'vk-hover2', );
$vk-name: 'vk';
$vk-x: 27px;
$vk-y: 86px;
$vk-offset-x: -27px;
$vk-offset-y: -86px;
$vk-width: 27px;
$vk-height: 26px;
$vk-total-width: 155px;
$vk-total-height: 142px;
$vk-image: '../img/sprite.png';
$vk: (27px, 86px, -27px, -86px, 27px, 26px, 155px, 142px, '../img/sprite.png', 'vk', );
$spritesheet-width: 155px;
$spritesheet-height: 142px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($arrow, $checkbox, $chek, $fb-2, $fb-hover, $fb-hover2, $fb, $menu-1, $menu-2, $menu-3, $phone, $pin, $select-arror, $slider, $star-red, $star, $tw-2, $tw-hover, $tw-hover2, $tw, $vk-2, $vk-hover, $vk-hover2, $vk, );
$spritesheet: (155px, 142px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
