/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$checkbox-name: 'checkbox';
$checkbox-x: 129px;
$checkbox-y: 87px;
$checkbox-offset-x: -129px;
$checkbox-offset-y: -87px;
$checkbox-width: 13px;
$checkbox-height: 10px;
$checkbox-total-width: 155px;
$checkbox-total-height: 112px;
$checkbox-image: '../img/sprite.png';
$checkbox: (129px, 87px, -129px, -87px, 13px, 10px, 155px, 112px, '../img/sprite.png', 'checkbox', );
$chek-name: 'chek';
$chek-x: 129px;
$chek-y: 52px;
$chek-offset-x: -129px;
$chek-offset-y: -52px;
$chek-width: 19px;
$chek-height: 19px;
$chek-total-width: 155px;
$chek-total-height: 112px;
$chek-image: '../img/sprite.png';
$chek: (129px, 52px, -129px, -52px, 19px, 19px, 155px, 112px, '../img/sprite.png', 'chek', );
$fb-name: 'fb ';
$fb-x: 43px;
$fb-y: 0px;
$fb-offset-x: -43px;
$fb-offset-y: 0px;
$fb-width: 43px;
$fb-height: 43px;
$fb-total-width: 155px;
$fb-total-height: 112px;
$fb-image: '../img/sprite.png';
$fb-: (43px, 0px, -43px, 0px, 43px, 43px, 155px, 112px, '../img/sprite.png', 'fb ', );
$fb-hover-name: 'fb-hover';
$fb-hover-x: 0px;
$fb-hover-y: 43px;
$fb-hover-offset-x: 0px;
$fb-hover-offset-y: -43px;
$fb-hover-width: 43px;
$fb-hover-height: 43px;
$fb-hover-total-width: 155px;
$fb-hover-total-height: 112px;
$fb-hover-image: '../img/sprite.png';
$fb-hover: (0px, 43px, 0px, -43px, 43px, 43px, 155px, 112px, '../img/sprite.png', 'fb-hover', );
$fb-hover2-name: 'fb-hover2';
$fb-hover2-x: 129px;
$fb-hover2-y: 26px;
$fb-hover2-offset-x: -129px;
$fb-hover2-offset-y: -26px;
$fb-hover2-width: 26px;
$fb-hover2-height: 26px;
$fb-hover2-total-width: 155px;
$fb-hover2-total-height: 112px;
$fb-hover2-image: '../img/sprite.png';
$fb-hover2: (129px, 26px, -129px, -26px, 26px, 26px, 155px, 112px, '../img/sprite.png', 'fb-hover2', );
$fb-name: 'fb';
$fb-x: 129px;
$fb-y: 0px;
$fb-offset-x: -129px;
$fb-offset-y: 0px;
$fb-width: 26px;
$fb-height: 26px;
$fb-total-width: 155px;
$fb-total-height: 112px;
$fb-image: '../img/sprite.png';
$fb: (129px, 0px, -129px, 0px, 26px, 26px, 155px, 112px, '../img/sprite.png', 'fb', );
$phone-name: 'phone';
$phone-x: 141px;
$phone-y: 71px;
$phone-offset-x: -141px;
$phone-offset-y: -71px;
$phone-width: 12px;
$phone-height: 16px;
$phone-total-width: 155px;
$phone-total-height: 112px;
$phone-image: '../img/sprite.png';
$phone: (141px, 71px, -141px, -71px, 12px, 16px, 155px, 112px, '../img/sprite.png', 'phone', );
$pin-name: 'pin';
$pin-x: 129px;
$pin-y: 71px;
$pin-offset-x: -129px;
$pin-offset-y: -71px;
$pin-width: 12px;
$pin-height: 16px;
$pin-total-width: 155px;
$pin-total-height: 112px;
$pin-image: '../img/sprite.png';
$pin: (129px, 71px, -129px, -71px, 12px, 16px, 155px, 112px, '../img/sprite.png', 'pin', );
$tw-name: 'tw ';
$tw-x: 0px;
$tw-y: 0px;
$tw-offset-x: 0px;
$tw-offset-y: 0px;
$tw-width: 43px;
$tw-height: 43px;
$tw-total-width: 155px;
$tw-total-height: 112px;
$tw-image: '../img/sprite.png';
$tw-: (0px, 0px, 0px, 0px, 43px, 43px, 155px, 112px, '../img/sprite.png', 'tw ', );
$tw-hover-name: 'tw-hover';
$tw-hover-x: 86px;
$tw-hover-y: 43px;
$tw-hover-offset-x: -86px;
$tw-hover-offset-y: -43px;
$tw-hover-width: 43px;
$tw-hover-height: 43px;
$tw-hover-total-width: 155px;
$tw-hover-total-height: 112px;
$tw-hover-image: '../img/sprite.png';
$tw-hover: (86px, 43px, -86px, -43px, 43px, 43px, 155px, 112px, '../img/sprite.png', 'tw-hover', );
$tw-hover2-name: 'tw-hover2';
$tw-hover2-x: 54px;
$tw-hover2-y: 86px;
$tw-hover2-offset-x: -54px;
$tw-hover2-offset-y: -86px;
$tw-hover2-width: 26px;
$tw-hover2-height: 26px;
$tw-hover2-total-width: 155px;
$tw-hover2-total-height: 112px;
$tw-hover2-image: '../img/sprite.png';
$tw-hover2: (54px, 86px, -54px, -86px, 26px, 26px, 155px, 112px, '../img/sprite.png', 'tw-hover2', );
$tw-name: 'tw';
$tw-x: 80px;
$tw-y: 86px;
$tw-offset-x: -80px;
$tw-offset-y: -86px;
$tw-width: 26px;
$tw-height: 26px;
$tw-total-width: 155px;
$tw-total-height: 112px;
$tw-image: '../img/sprite.png';
$tw: (80px, 86px, -80px, -86px, 26px, 26px, 155px, 112px, '../img/sprite.png', 'tw', );
$vk-name: 'vk ';
$vk-x: 86px;
$vk-y: 0px;
$vk-offset-x: -86px;
$vk-offset-y: 0px;
$vk-width: 43px;
$vk-height: 43px;
$vk-total-width: 155px;
$vk-total-height: 112px;
$vk-image: '../img/sprite.png';
$vk-: (86px, 0px, -86px, 0px, 43px, 43px, 155px, 112px, '../img/sprite.png', 'vk ', );
$vk-hover-name: 'vk-hover';
$vk-hover-x: 43px;
$vk-hover-y: 43px;
$vk-hover-offset-x: -43px;
$vk-hover-offset-y: -43px;
$vk-hover-width: 43px;
$vk-hover-height: 43px;
$vk-hover-total-width: 155px;
$vk-hover-total-height: 112px;
$vk-hover-image: '../img/sprite.png';
$vk-hover: (43px, 43px, -43px, -43px, 43px, 43px, 155px, 112px, '../img/sprite.png', 'vk-hover', );
$vk-hover2-name: 'vk-hover2';
$vk-hover2-x: 0px;
$vk-hover2-y: 86px;
$vk-hover2-offset-x: 0px;
$vk-hover2-offset-y: -86px;
$vk-hover2-width: 27px;
$vk-hover2-height: 26px;
$vk-hover2-total-width: 155px;
$vk-hover2-total-height: 112px;
$vk-hover2-image: '../img/sprite.png';
$vk-hover2: (0px, 86px, 0px, -86px, 27px, 26px, 155px, 112px, '../img/sprite.png', 'vk-hover2', );
$vk-name: 'vk';
$vk-x: 27px;
$vk-y: 86px;
$vk-offset-x: -27px;
$vk-offset-y: -86px;
$vk-width: 27px;
$vk-height: 26px;
$vk-total-width: 155px;
$vk-total-height: 112px;
$vk-image: '../img/sprite.png';
$vk: (27px, 86px, -27px, -86px, 27px, 26px, 155px, 112px, '../img/sprite.png', 'vk', );
$spritesheet-width: 155px;
$spritesheet-height: 112px;
$spritesheet-image: '../img/sprite.png';
$spritesheet-sprites: ($checkbox, $chek, $fb-, $fb-hover, $fb-hover2, $fb, $phone, $pin, $tw-, $tw-hover, $tw-hover2, $tw, $vk-, $vk-hover, $vk-hover2, $vk, );
$spritesheet: (155px, 112px, '../img/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Here are example usages in HTML:

`display: block` sprite:
<div class="icon-home"></div>

`display: inline-block` sprite:
<img class="icon-home" />
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
