/* Open-sans fonts */
$open-light: 'open_sanslight';
$open-light-ital: 'open_sanslight_italic';

$open-reg:  'open_sansregular';
$open-ital: 'open_sansitalic';

$open-bold: 'open_sansbold';
$open-bold-ital: 'open_sansbold_italic';

$open-semi-bold: 'open_sanssemibold';
$open-semi-ital:  'open_sanssemibold_italic';

$open-extra-bold: 'open_sansextrabold_italic';
$open-extra-bold-ital: 'OpenSans-Extrabolditalic';