
doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Shop
    link(rel="icon" href="img/favicon-32x32.png" type="image/x-icon")
    link(rel="stylesheet" href="css/jquery-ui.css")
    link(rel="stylesheet" href="css/select2.min.css")
    link(rel="stylesheet" href="css/main.css")
  body
      include pages/_header
      include pages/_navigation
      .wrapper
        .wrapper__content.clearfix
          include pages/_content
          include pages/_aside
          .main_products.clearfix
            include pages/_container
            include pages/_products
            include pages/_button
        include pages/_information
      include pages/_footer


      script(src="js/app.js")
