doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    title Shop
    link(rel="icon" href="img/favicon-32x32.png" type="image/x-icon")
    link(rel="stylesheet" href="css/main.css")
  body
      include pages/_header
      include pages/_navigation
      .wrapper
        .wrapper__content.clearfix
          include pages/_wrapper-content
          include pages/_aside
          include pages/_container
