.main {
  width: 330px;
  float: left;
}

.main__filter {
  border: 1px solid #dee1e4;
  border-radius: 5px;
  margin-bottom: 41px;

  &_list {
    margin: 0;
    padding: 0;
  }

  &_item {
    list-style-type: none;
  }

  &_link {
    display: block;
    padding: 14px 28px;

    @include font(14,  $open-reg,#5d656c);
    text-decoration: none;
  }
}

.main__filter_link--active {
  background: #d9e5ea;
}


.filter {
  border: 1px solid #dee1e4;
  border-radius: 5px;
  background: #fbfbfb;

  &__choose {
    line-height: 2;
    padding: 0;
    margin: 0;
  }

}

.filter__title {

  @include font(16, $open-semi-bold, #333333);
  text-decoration: none;
  display: block;
  padding: 13px 27px;
  position: relative;

  &:after {
    content: '';
    display: block;
    position: absolute;

    @include sprite($arrow);
    top: 19px;
    right: 10px;
  }
}

.filter__label {

  @include font(14, $open-reg, #333333);
  position: relative;
  margin-left: 40px;
  cursor: pointer;

}


.filter__reset {

  @include font(14,  $open-reg ,#5db2fc);
  display: block;
  margin-bottom: 20px;
  margin-left: 10px;
}

.filter__list, .filter__choose_list {
  margin: 0;
  padding: 0;
}

.filter__item {
  display: inline-block;
  list-style-type: none;
}

.filter__link {
  width: 37px;
  height: 37px;
  display: block;
  border-radius: 3px;
  border: 2px solid #dee1e4;
  text-indent: -9999px;
  margin-left: 18px;
  margin-bottom: 18px;
}

.filter__link--white {
  background: #FFFFFF;
}

.filter__link--grey {
  background: #cccccc;
}

.filter__link--black {
  background: #000000;
}

.filter__link--blue {
  background: #0a3153;
}

.filter__link--red {
  background: #ff1800;
}

.filter__link--yellow {
  background: #fff343;
}

.filter__link--orange {
  background: #fb914a;
}
.filter__link--green {
  background: #92c37c;
}

.filter__link--blue-second {
  background: #40a6ff;
}

.filter__link--purple {
  background: #9870ad;
}
.filter__link--rose {
  background: #dc78ad;
}

.filter__link--brown {
  background: #7f401d;
}

.filter__link--active {
  border: 2px solid #ff6600;
}

.filter__choose_item {
  list-style-type: none;
  border-bottom: 1px solid #dee1e4;
}

.item {
  list-style-type: none;
}

.filter__choose_list {
  display: none;
  padding: 0 17px 15px 17px;
}

.filter__slider_left {
  width: 50%;
  float: left;
}

.filter__slider_right {
  width: 50%;
  float: right;
}

.filter__input {
  position: absolute;
  left: -99999px;
  top: 0;

  &:checked + .filter__choose-element {
    border-color: #ff6600;

    &:after {
      width: 11px;
      height: 11px;
      top: 2px;
      left: 2px;
    }
  }
}

.filter__input--checkbox {
  &:checked + .filter__choose-checkbox {
    background: #ff6600;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 4px;
      left: 3px;

      @include sprite($errow-filter);
    }
  }
}

.filter__choose-element {
  width:15px;
  height:15px;
  border-radius: 50%;
  border: 3px solid #dee1e4;
  position: absolute;
  left: -32px;
  top: 0;
  display: block;

  &:after {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-radius: 50%;
    background: #ff6600;
    top: 0;
    left: 0;
    bottom:0;
    right:0;
  }
}

.filter__choose-checkbox {
  width: 20px;
  height: 20px;
  background: #dee1e4;
  position: absolute;
  left: -28px;
  top: 0;
  display: block;
  border-radius: 2px;
}

.filter__slider_text {
   @include font(14, $open-reg, #333333);

   display: inline-block;
  padding: 0;
  margin: 0;
}

.filter__slider_input {
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  width: 66px;
  padding: 6px;
}

.ui-widget-content {
  height: 3px;
  background: #dee1e4;
  border-radius: 0;
  border: none;
}

.ui-widget-header {
  background: #ff6600;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  background: none;
  border: none;
}

.ui-state-default {
  background: none;
  border: none;
  position: absolute;

  &:after {
    content: '';
    position: absolute;
    display: block;
    top: 7px;

    @include sprite($slider);
  }

}

#slider-range {
  margin-bottom: 20px;
}

.item_other {
  margin-bottom: 5px;
}

.filter__label--other {
  display: block;
  margin-bottom: 26px;
}




