.container {
  width: 740px;
  background: #e4ebee;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  height: 50px;
  margin-bottom: 20px;

  &__sorting, &__kind {
    width: 50%;
    min-height: 50px;
    padding: 9px 20px;
    box-sizing: border-box;
  }

  &__text {
    margin: 0;
    padding: 0;

    @include font(14, $open-reg, #5d656c);
    display: inline-block;
  }

  &__select {
    margin-left: 8px;
  }
}

.container__sorting {
  float: left;
}

.container__kind {
  float: right;
  padding: 0;
  text-align: right;
}

.container__menu {
  float: right;
  height: 50px;
  width: 165px;
}

.container__item {
  list-style-type: none;
  display: inline-block;
}

.container__list {
  margin: 0;
  padding: 0;
}

.container__link {
  display: block;
  position: relative;
  text-indent: -9999px;
  width: 50px;
  height: 50px;
  border-left: 1px solid #dee1e4;
}

.container__link--first {

  &:after {
    content: '';
    display: block;
    position: absolute;

    @include sprite($menu-1);
    top: 17px;
    left: 19px;
    &:hover {

      @include sprite($menu-1-hover);
    }
  }

  &:hover {
    &:after {
      @include sprite($menu-1-hover);
    }
  }
}

.container__link--second {

  &:after {
    content: '';
    display: block;
    position: absolute;

    @include sprite($menu-2);
    top: 17px;
    left: 19px;
  }
  &:hover {
    &:after {
      @include sprite($menu-2-hover);
    }
  }
}

.container__link--third {

  &:after {
    content: '';
    display: block;
    position: absolute;

    @include sprite($menu-3);
    top: 17px;
    left: 19px;
  }
  &:hover {
    &:after {
      @include sprite($menu-3-hover);
    }
  }
}

.container__text--menu {
  margin-top: 17px;
  margin-right: 5px;
}

.select2 {
  &:focus{
    outline: none;
  }
}

.select2-selection__arrow b{
    border-width: 0!important;
  &:after {
    content: '';
    display: block;
    position: absolute;

    @include sprite($select-arror);
    top: -1px;
    right: -7px;
  }
}



.filter__slider {
  margin-bottom: 20px;
}

.ui-state-default:after {
  left: 5px;
}

.select2-container {
  width: 143px!important;

  *{
    outline: none!important;
  }
}

.select2-container--open b{
  &:after {
    content: '';
    display: block;
    position: absolute;

    @include sprite($select-open);
    top: -2px;
    right: -7px;
  }
}

.select2-search__field {
  display: none;
}

.select2-selection__rendered {
  @include font(14, $open-light, #7f7f7f!important);
}

.select2-dropdown {
  margin-top: 2px;
  border-radius: 5px!important;
  background: #FFFFFF;
  border: 1px solid #d1d7da !important;
  box-shadow: 0px 1px 17px -3px #888 !important;

  .select2-results__options {
    @include font(14,  $open-light, #7f7f7f);
    background: #FFFFFF;

    .select2-results__option--highlighted {
      color: #333333!important;
      font-family: open_sanssemibold;
      background: #FFFFFF;
    }
  }
}

.select2-container {
  outline: none!important;
}

.select2-search--dropdown {
  padding: 0!important;

}

.select2-results__option[aria-selected=true] {
  background: #FFFFFF!important;
}

.select2-selection {
  border: 1px solid #d1d7da !important;
}


