.header {
  width: 100%;

  &__contact {
    border-bottom: 1px solid #ebedef;
    height: 77px;
    background: #FFFFFF;
  }

  &__right {
    width: 452px;
    float: right;
    display: block;
    margin-top: 30px;
    margin-right: 51px;
  }

  &__adress {
    width: 188px;
    display: block;
    margin: 0;
    position: relative;
    float: left;

    @include font(14, $open-reg,  #333333);

    &:after {
      position: absolute;
      content: '';
      display: block;

      @include sprite($pin);
      top: 0;
      left: -20px;
    }
  }

  &__number {
    width: 164px;
    display: block;
    text-decoration: none;
    position: relative;
    float: right;

    @include font(18, $open-semi-bold, #333333 );
    &:hover {
      text-decoration: underline;
    }

    &:after {
      content: '';
      display: block;
      position: absolute;

      @include sprite($phone);
      top: 5px;
      left: -20px;
    }
  }

  &__main {
    height: 96px;
    background: #f4f4f4;
    width: 100%;
  }

  &__search {
    display: block;
    width: 368px;
    margin-top: 30px;
    float: left;
    margin-left: 57px;
  }

  &__menu {
    width: 390px;
    display: block;
    float: right;
    margin-top: 35px;
    margin-right: 55px;
  }
}

.main__contact, .header__info {
  max-width: 1156px;
  margin: auto;
  height: 100%;
}
.socials {
  display: block;
  float: left;
  margin-top: 25px;

  &__list {
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    list-style-type: none;
    margin-left: 12px;
    &:first-child {
      margin-left: 0;
    }
  }

  &__link {
    display: block;
    text-indent: -9999px;
    position: relative;
    width: 26px;
    height: 26px;
  }
}

.socials__link--fb {

    @include sprite($fb);

  &:hover {

    @include sprite($fb-hover2);
  }

}

.socials__link--vk {

    @include sprite($vk);

  &:hover {

    @include sprite($vk-hover2);
  }

}

.socials__link--tw {

    @include sprite($tw);

  &:hover {

    @include sprite($tw-hover2);
  }
}

.logo {

  display: block;
  width: 240px;
  float: left;
  margin-top: 30px;

  &__description {
    position: absolute;
    display: block;
    top:0;
    text-indent: -9999px;
  }
}

.header__input {
  border: 1px solid #dee1e4;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  width: 269px;
  height: 11px;
  padding: 11px 8px;
  position: relative;

  @include font(12,$open-reg,  #7f7f7f );

  &:focus {
    outline: none;
  }
}

.header__button {
  position: absolute;
  width: 78px;
  height: 35px;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  background: #ff6e35;
  border: none;

  @include font(16, $open-semi-bold, #FFFFFF );

  &:focus {
    outline: none;
  }

  &:hover {
    background: #F44336}
}

.header__list {
  padding: 0;
  margin: 0;
}

.header__item {
  list-style-type: none;
  margin-left: 17px;
  display: inline-block;
  &:first-child {
    margin-left: 0;
  }
}

.header__link {

  @include font(16, $open-semi-bold,#333333);

  &:hover {
    color: #ff6600;
  }
}
