.information {
  max-width: 1060px;
  margin: auto;
  padding-bottom: 90px;

  &__title {

    @include font(20, $open-bold, #333333);
    padding: 0;
    margin: 0;
    margin-bottom: 27px;
  }

}

.information__block p {
  margin-bottom: 30px;
  height: 136px;
  @include font(14, $open-reg, #333333);
}

.first {
  width: 45%!important;
  margin-right: 48px;
}

.first, .last {
  text-align: justify;
}