.main__navigation {
  height: 52px;
  background: #FFFFFF;
  border-bottom: 1px solid #ebedef;
  width: 100%;
}

.main__menu {
  width: 1125px;
  margin: auto;
  height: 100%;
}

.main__list {
  margin: 0;
  padding: 0;
}

.main__item {
  list-style-type: none;
  display: inline-block;
}

.main__link {
  text-decoration: none;
  padding: 17px 16px;
  display: block;

  @include font(16, $open-reg, #333333);

  &:hover {
    background: #e4e2e2;
  }
}

.active {
  background: #ff6600;
  color: #FFFFFF;
}
