.products__first {
  margin-bottom: -23px;
  .products__list {
    padding: 0;
    margin: 0;
  }

  .block-info__text {
    display: none;
  }

  .block-info {
    width: 212px;
    float: none;
    border-right: none;
    padding: 0;
  }

  .slide__text {
    display: none;
  }

  .products__item {
    cursor: pointer;
    list-style-type: none;
    display: inline-block;
    margin-left: 17px;
    margin-bottom: 20px;
    width: 233px;
    min-height: 510px;
    border: 1px solid #dee1e4;
    border-radius: 5px;
    background: #fbfbfb;
    padding: 17px 10px;
    box-sizing: border-box;
    vertical-align: top;
    &:hover {
      box-shadow: 0 0 18px 0 #b8b2b8;
    }

    &:first-child, &:nth-child(4),  &:nth-child(7n) {
      margin-left: 0;
    }
  }
  .products__text {

    @include font(14, $open-reg, #333333);
  }

  .products__info {
    margin-bottom: 30px;
  }

  .products__grey {
    background: #e6e6e6;
  }

  .products__block {
    width: 207px;
    margin: auto;
  }

  .products__phone {
    @include font(14,$open-semi-bold, #000000);

    margin: -1px 0 26px 0;
    text-align: center;
    display: block;
  }

  .products__text--right {
    text-align: right;
  }

  .slide  {
    width: 136px;
    height: 136px;
    border: 1px solid #dee1e4;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 15px;
    overflow: hidden;

    &__img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .slideshow__list {
    padding: 0;
    margin: 0 auto;
    display: block;
    width: 141px;
  }

  .slideshow__item {
    list-style-type: none;
    margin-left: 8px;
    display: inline-block;
    margin-bottom: 15px;

    &:first-child {
      margin-left: 0;
    }
  }

  .slideshow__link {
    width: 36px;
    height: 36px;
    display: block;
    border: 1px solid #dee1e4;
    border-radius: 5px;
    overflow: hidden;

  }

  .slideshow__img {
    max-width: 100%;
    max-height: 100%;
  }


  .block__star {
    padding: 0;
    margin: 0 auto;
    width: 150px;
    height: 16px;
    margin-bottom: 13px;

    &-item {
      list-style-type: none;
      display: inline-block;
      width: 16px;
      height: 16px;

      @include sprite($star-red);
    }
  }

  .block__star-item--white {
    @include sprite($star);
  }

  .block__star-other {
    list-style-type: none;
    display: inline-block;
    margin-left: 15px;
  }

  .block__star-link--other {
    text-decoration: none;
    display: inline-block;
    background: #b5beca;
    width: 28px;
    height: 15px;
    box-sizing: border-box;
    padding: 1px 11px;
    border-radius: 8px;

    @include font(12,$open-semi-bold,#fbfbfb);
  }

  .products__price {
    @include font(20,$open-semi-bold,#333333);

    width: 150px;
    height: 20px;
    margin: auto;
    text-align: center;
    margin-bottom: 10px;
  }

  .products__stock {
    margin: 11px 0 0 15px;
    display: inline-block;
    position: relative;

    @include font(12, $open-bold, #7f7f7f);

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 7px;
      height: 7px;
      background: #60ac49;
      border-radius: 50%;
      top: 3px;
      left: -14px;
    }
  }

  .products__basket {
    float: right;
    width: 103px;
    height: 34px;
    background: #ff6b1e;
    border-radius: 5px;
    border: none;

    @include font(12, $open-bold, #fff);

    &:focus{
      outline: none;
    }

    &:hover {
      background: #F44336;
    }
  }

}

.products__second {
  margin-bottom: 67px;
  background: #fbfbfb;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  width: 739px;

  .products__list {
    padding: 0;
    margin: 0;
  }

  .products__item {
    display: block;
    min-height: 247px;
    border-bottom: 1px solid #dee1e4;
    padding: 16px 20px 5px 20px;
    cursor: pointer;
    position: relative;

    &:hover {
      box-shadow: 0 0 18px 0 #b8b2b8;
    }

  }
  .slide  {
    width: 136px;
    height: 136px;
    border: 1px solid #dee1e4;
    border-radius: 5px;
    margin: auto;
    margin-bottom: 12px;
    overflow: hidden;

    &__img {
      max-width: 100%;
      max-height: 100%;
    }
  }

  .slideshow {
    float: left;
    width: 136px;
    margin-right: 24px;
  }

  .slideshow__list {
    padding: 0;
    margin: 0 auto;
    display: block;
    width: 141px;
  }

  .slideshow__item {
    list-style-type: none;
    margin-left: 8px;
    display: inline-block;
    margin-bottom: 15px;

    &:first-child {
      margin-left: 0;
    }
  }

  .slideshow__link {
    width: 36px;
    height: 36px;
    display: block;
    border: 1px solid #dee1e4;
    border-radius: 5px;
    overflow: hidden;

  }

  .slideshow__img {
    max-width: 100%;
    max-height: 100%;
  }

  .products__phone {
    @include font(16,$open-semi-bold, #000000);

    margin-bottom: 28px;
    display: block;
  }

  .products__text {

    @include font(14,$open-semi-bold, #000000);
  }

  .block-info__text {
    margin-bottom: 6px;
    color: #333333;
    font-size: 14px;
    font-family: open_sansregular;
    line-height: 1.5;
    min-height: 73px;
  }

  .products__info {
    display: none;
  }

  .block__star {
    padding: 0;
    width: 150px;
    height: 16px;

    &-item {
      list-style-type: none;
      display: inline-block;
      width: 16px;
      height: 16px;

      @include sprite($star-red);
    }
  }

  .block__star-item--white {
    @include sprite($star);
  }

  .block__star-other {
    list-style-type: none;
    display: inline-block;
    margin-left: 9px;
  }

  .block__star-link--other {
    display: inline-block;
    background: #b5beca;
    width: 28px;
    height: 15px;
    box-sizing: border-box;
    padding: 1px 11px;
    border-radius: 8px;

    @include font(12,$open-semi-bold,#fbfbfb);
  }

  .products__price {
    @include font(20,$open-semi-bold,#333333);

    width: 85px;
    display: block;
    position: absolute;
    top: 24px;
    right: 21px;
  }

  .products__block {
    display: inline-block;
    width: 105px;
    position: absolute;
    bottom: 24px;
    right: 25px;
  }

  .slide__text  {

    @include font(12,$open-semi-bold,#7f7f7f);
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: -9px;
  }
  .products__stock {
    margin: 0;
    margin-left: 40px;
    display: inline-block;
    position: relative;

    @include font(12, $open-bold, #7f7f7f);

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 7px;
      height: 7px;
      background: #60ac49;
      border-radius: 50%;
      top: 3px;
      left: -14px;
    }
  }
  }

  .products__stock {
    margin: 0;
    margin-left: 15px;
    display: inline-block;
    position: relative;

    @include font(12, $open-bold, #7f7f7f);

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 7px;
      height: 7px;
      background: #60ac49;
      border-radius: 50%;
      top: 3px;
      left: -14px;
    }
  }

  .products__basket {
    width: 103px;
    height: 34px;
    background: #ff6b1e;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;

    @include font(12, $open-bold, #fff);

    &:focus{
      outline: none;
    }

    &:hover {
      background: #F44336;
    }
  }

  .price-info {
    width: 151px;
    padding-top: 10px;
    position: relative;
  }

  .block-info {
    width:383px;
    float: left;
    border-right: 1px solid #dee1e4;
    padding-bottom: 58px;
    padding-right: 25px;
    margin-top: 8px;
  }

  .slide__text  {

    @include font(12,$open-semi-bold,#7f7f7f);
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .slide__text--span {

    @include font(14,$open-semi-bold,#333333);
  }


.products__third {
  margin-bottom: 67px;
  background: #fbfbfb;
  border: 1px solid #dee1e4;
  border-radius: 5px;
  width: 739px;

  .slide,
  .block__star,
  .slideshow__list,
  .products__info,
  .products__phone{
    display: none;
  }

  .slide__text  {

    @include font(12,$open-semi-bold,#7f7f7f);
    margin: 0;
    padding: 0;
    display: inline-block;
  }

  .slide__text--span {

    @include font(14,$open-semi-bold,#333333);
  }

  .products__list {
    padding: 0;
    margin: 0;
  }

  .products__item {
    display: block;
    border-bottom: 1px solid #dee1e4;
    padding: 10px 10px;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 18px 0 #b8b2b8;
    }

  }

  .products__price {
    @include font(20,$open-semi-bold,#333333);
    display: inline-block;
    margin-right: 20px;
    width: 83px;
  }

  .products__block {
   display: inline-block;
  }

  .products__stock {
    margin: 0;
    margin-left: 15px;
    display: inline-block;
    position: relative;

    @include font(12, $open-bold, #7f7f7f);

    &:after {
      content: '';
      position: absolute;
      display: block;
      width: 7px;
      height: 7px;
      background: #60ac49;
      border-radius: 50%;
      top: 3px;
      left: -14px;
    }
  }

  .products__basket {
    width: 103px;
    height: 34px;
    background: #ff6b1e;
    border-radius: 5px;
    border: none;
    margin-right: 20px;

    @include font(12, $open-bold, #fff);

    &:focus{
      outline: none;
    }

    &:hover {
      background: #F44336;
    }
  }

 .products__block {
  height: 36px;
 }

  .price-info {
   display: inline-block;
  }
  .block-info {
    margin-right: 20px;
    width: 271px;
    float: none;
    border-right: none;
    padding: 0;
  }
  .slideshow,
  .block-info{
    display: inline-block;
    margin-right: 10px;
  }

  .block-info__text {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 274px;
    @include font(14,$open-reg,#000000);
  }
}


