.filter
  .filter__choose
    a(href="#").filter__title Наличие в магазинах
    input(type="radio" name="radio").filter__input
    label.filter__label Во всех магазинах</br>
    input(type="radio" name="radio").filter__input
    label.filter__label В ближайшем ко мне магазине
  .filter__choose
    a(href="#").filter__title Бренды
    input(type="checkbox" name="radio").filter__input
    label.filter__label lenovo</br>
    input(type="checkbox" name="radio").filter__input
    label.filter__label Apple</br>
    input(type="checkbox" name="radio").filter__input
    label.filter__label Samsung</br>
    input(type="checkbox" name="radio").filter__input
    label.filter__label Asus</br>
    input(type="checkbox" name="radio").filter__input
    label.filter__label Motorola</br>
    a(href="#").filter__reset Сбросить фильтр
  .filter__choose.filter__choose--price
    a(href="#").filter__title Цена
  .filter__choose.filter__choose--color
    a(href="#").filter__title Цвет
    ul.filter__list
      - var Item = {1 : 'white', 2 : 'grey', 3 : 'black', 4 : 'blue', 5 : 'red', 6 : 'yellow', 7 : 'orange', 8 : 'green', 9 : 'blue-second', 10 : 'purple', 11 : 'rose', 12 : 'brown'}
      each val, key in Item
        li.filter__item
          a(href="#" class="filter__link--#{val}").filter__link= key
  .filter__choose.filter__choose--system
    a(href="#").filter__title Операционные системы
    input(type="checkbox" name="radio").filter__input
    label.filter__label Android</br>
    input(type="checkbox" name="radio").filter__input
    label.filter__label iOS</br>
    input(type="checkbox" name="radio").filter__input
    label.filter__label Windows Mobile</br>
    input(type="checkbox" name="radio").filter__input
    label.filter__label Symbian</br>
    input(type="checkbox" name="radio").filter__input
    label.filter__label Custom</br>
      a(href="#").filter__reset Сбросить фильтр


