.main
  .main__filter
    ul.main__filter_list
      li.main__filter_item
        a(href="#").main__filter_link Флагманы
      li.main__filter_item
        a(href="#").main__filter_link.main__filter_link--active Бюджетная линейка


  .filter
    ul.filter__choose
      li.filter__choose_item
        a(href="#").filter__title Наличие в магазинах
        ul.filter__choose_list
          li.item
            label.filter__label Во всех магазинах
              input(type="radio" name="radio").filter__input
              span.filter__choose-element
          li.item
            label.filter__label В ближайшем ко мне магазине
              input(type="radio" name="radio").filter__input
              span.filter__choose-element
      li.filter__choose_item
        a(href="#").filter__title Бренды
        ul.filter__choose_list
          li.item
            label.filter__label Lenovo
              input(type="checkbox" name="checkbox").filter__input.filter__input--checkbox
              span.filter__choose-checkbox
          li.item
            label.filter__label Apple
              input(type="checkbox" name="checkbox").filter__input.filter__input--checkbox
              span.filter__choose-checkbox
          li.item
            label.filter__label Samsung
              input(type="checkbox" name="checkbox").filter__input.filter__input--checkbox
              span.filter__choose-checkbox
          li.item
            label.filter__label Asus
              input(type="checkbox" name="checkbox").filter__input.filter__input--checkbox
              span.filter__choose-checkbox
          li.item
            label.filter__label Motorola
              input(type="checkbox" name="checkbox").filter__input.filter__input--checkbox
              span.filter__choose-checkbox
            a(href="#").filter__reset Сбросить фильтр
      li.filter__choose_item
        a(href="#").filter__title Цена
        ul.filter__choose_list
          li.item
            .filter__slider.clearfix
              .filter__slider_left
                p.filter__slider_text от
                input(type='text' id='amount' data-min="0").filter__slider_input.filter__slider_first
              .filter__slider_right
                p.filter__slider_text до
                  input(type='text' data-max="13000").filter__slider_input.filter__slider_second
            .slider(id='slider-range')
      li.filter__choose_item
        a(href="#").filter__title Цвет
        ul.filter__choose_list
          li.item
            ul.filter__list
              - var Item = ['white', 'grey', 'black','blue', 'red', 'yellow', 'orange', 'green', 'blue-second', 'purple', 'rose','brown']
              each val, key in Item
                li.filter__item
                  a(href="#" class="filter__link--#{val}").filter__link= key
      li.filter__choose_item
        a(href="#").filter__title Операционные системы
        ul.filter__choose_list
          li.item
            label.filter__label Android
              input(type="checkbox" name="radio").filter__input.filter__input--checkbox
              span.filter__choose-checkbox
          li.item
            label.filter__label iOS
              input(type="checkbox" name="radio").filter__input.filter__input--checkbox
              span.filter__choose-checkbox
          li.item
            label.filter__label Windows Mobile
              input(type="checkbox" name="radio").filter__input.filter__input--checkbox
              span.filter__choose-checkbox
          li.item
            label.filter__label Symbian
              input(type="checkbox" name="radio").filter__input.filter__input--checkbox
              span.filter__choose-checkbox
          li.item
            label.filter__label Custom
              input(type="checkbox" name="radio").filter__input.filter__input--checkbox
              span.filter__choose-checkbox
            a(href="#").filter__reset Сбросить фильтр


