.main
  .main__filter
    ul.main__filter_list
      li.main__filter_item
        a(href="#").main__filter_link Флагманы
      li.main__filter_item
        a(href="#").main__filter_link.main__filter_link--active Бюджетная линейка


  .filter
    ul.filter__choose
      li.filter__choose_item
        a(href="#").filter__title Наличие в магазинах
        ul.filter__choose_list
          li.item
            input(type="radio" name="radio").filter__input
            span.filter__choose_element
            label.filter__label Во всех магазинах
          li.item
            input(type="radio" name="radio").filter__input
            span.filter__choose_element
            label.filter__label В ближайшем ко мне магазине
      li.filter__choose_item
        a(href="#").filter__title Бренды
        ul.filter__choose_list
          li.item
            input(type="checkbox" name="radio").filter__input
            label.filter__label lenovo
          li.item
            input(type="checkbox" name="radio").filter__input
            label.filter__label Apple
          li.item
            input(type="checkbox" name="radio").filter__input
            label.filter__label Samsung
          li.item
            input(type="checkbox" name="radio").filter__input
            label.filter__label Asus
          li.item
            input(type="checkbox" name="radio").filter__input
            label.filter__label Motorola
            a(href="#").filter__reset Сбросить фильтр
      li.filter__choose_item
        a(href="#").filter__title Цена
        ul.filter__choose_list
          li.item
            .filter__slider.clearfix
              .filter__slider_left
                p.filter__slider_text от
                input(type='text').filter__slider_input
              .filter__slider_right
                p.filter__slider_text до
                  input(type='text').filter__slider_input
      li.filter__choose_item
        a(href="#").filter__title Цвет
        ul.filter__choose_list
          li.item
            ul.filter__list
              - var Item = ['white', 'grey', 'black','blue', 'red', 'yellow', 'orange', 'green', 'blue-second', 'purple', 'rose','brown']
              each val, key in Item
                li.filter__item
                  a(href="#" class="filter__link--#{val}").filter__link= key
      li.filter__choose_item
        a(href="#").filter__title Операционные системы
        ul.filter__choose_list
          li.item
            input(type="checkbox" name="radio").filter__input
            label.filter__label Android
          li.item
            input(type="checkbox" name="radio").filter__input
            label.filter__label iOS
          li.item
            input(type="checkbox" name="radio").filter__input
            label.filter__label Windows Mobile
          li.item
            input(type="checkbox" name="radio").filter__input
            label.filter__label Symbian
          li.item
            input(type="checkbox" name="radio").filter__input
            label.filter__label Custom
            a(href="#").filter__reset Сбросить фильтр


