.wrapper__title
  ul.wrapper__list
    li.wrapper__item
      a(href="#").wrapper__link Каталог
    li.wrapper__item
      a(href="#").wrapper__link >
    li.wrapper__item
      a(href="#").wrapper__link.wrapper__link--active Главная
  h2.wrapper__description Мобильные телефоны

