header.header
  .header__contact
    .main__contact.clearfix
      .socials
        ul.socials__list
          li.socials__item
            a(href="https://www.facebook.com/vika.kovalenko3" target="_blank").socials__link.socials__link--fb fb
          li.socials__item
            a(href="https://vk.com/idvikul4ik" target="_blank").socials__link.socials__link--vk vk
          li.socials__item
            a(href="https://twitter.com/vikanovikvika93" target="_blank").socials__link.socials__link--tw vk
      p.header__adress ул. Маяковская 6, офис 17
      a(href="tel:+7(921)123-12-13").header__number +7 (921) 123-12-13
  .header__main
