header.header
  .header__contact
    .main__contact.clearfix
      .socials
        ul.socials__list
          - var Item = {'fb' : 'https://www.facebook.com/vika.kovalenko3', 'vk' : 'https://vk.com/idvikul4ik', 'tw' : 'https://twitter.com/vikanovikvika93'};
          each val, key in Item
            li.socials__item
              a(href="#{val}" class="socials__link--#{key}"  target="_blank").socials__link= key
      .header__right.clearfix
        p.header__adress ул. Маяковская 6, офис 17
        a(href="tel:+7(921)123-12-13").header__number +7 (921) 123-12-13
  .header__main
    .header__info.clearfix
      .logo
        a(href='#').logo__link
          img(src="../img/logo.png" alt="logo").logo__img
        h1.logo__description Logo
      form(method="POST" action="/").header__search
        input(type="search" name="search" placeholder="Что будем искать").header__input
        button(type="submit").header__button  Найти
      .header__menu
        - var array = ['Карта проездов', 'История заказов',  'Корзина']
        ul.header__list
          each item in array
            li.header__item
              a(href="#").header__link= item

