nav.main__navigation
  .main__menu
    ul.main__list
      -var array = ['Планшеты ', 'Мобильные телефоны ', 'Мр3 плееры', 'Персональные компьютеры', 'Ноутбуки', 'Аксессуары', 'Бытовая техника']
      each item, val in array
        if (val === 1)
          li.main__item
            a(href="#").main__link.main__link--active= item
        else
          li.main__item
            a(href="#").main__link= item