.products.products__first
  ul.products__list.products__first--list
    li.products__item.products__first--item
      a(href="#").products__link.products__link--link
        p.products__phone Samsung GT-I9301I GALAXY S 3
        table.products__info
          tr.products__grey
            td.products__text Тип SIM-карты
            td.products__text.products__text--right Micro-SIM
          tr.products__white
            td.products__text Количество SIM-карт
            td.products__text.products__text--right 1
          tr.products__grey
            td.products__text Цвет
            td.products__text.products__text--right Белый
          tr.products__white
            td.products__text ОC
            td.products__text.products__text--right Android
          tr.products__grey
            td.products__text Связь 3G
            td.products__text.products__text--right Есть
          tr.products__white
            td.products__text 4G (LTE)
            td.products__text.products__text--right Нет
          tr.products__grey
            td.products__text GPS-модуль
            td.products__text.products__text--right Есть
    li.products__item.products__first--item
      a(href="#").products__link.products__link--link
        p.products__phone Microsoft Lumia 640 RM-1077
        table.products__info
          tr.products__grey
            td.products__text Тип SIM-карты
            td.products__text.products__text--right Micro-SIM
          tr.products__white
            td.products__text Количество SIM-карт
            td.products__text.products__text--right 1
          tr.products__grey
            td.products__text Цвет
            td.products__text.products__text--right Белый
          tr.products__white
            td.products__text ОC
            td.products__text.products__text--right Android
          tr.products__grey
            td.products__text Связь 3G
            td.products__text.products__text--right Есть
          tr.products__white
            td.products__text 4G (LTE)
            td.products__text.products__text--right Нет
          tr.products__grey
            td.products__text GPS-модуль
            td.products__text.products__text--right Есть
    li.products__item.products__first--item
      a(href="#").products__link.products__link--link
        p.products__phone Archos 50 Oxygen Plus
        table.products__info
          tr.products__grey
            td.products__text Тип SIM-карты
            td.products__text.products__text--right Micro-SIM
          tr.products__white
            td.products__text Количество SIM-карт
            td.products__text.products__text--right 1
          tr.products__grey
            td.products__text Цвет
            td.products__text.products__text--right Белый
          tr.products__white
            td.products__text ОC
            td.products__text.products__text--right Android
          tr.products__grey
            td.products__text Связь 3G
            td.products__text.products__text--right Есть
          tr.products__white
            td.products__text 4G (LTE)
            td.products__text.products__text--right Нет
          tr.products__grey
            td.products__text GPS-модуль
            td.products__text.products__text--right Есть
    li.products__item.products__first--item
      a(href="#").products__link.products__link--link
        p.products__phone Philips S398 Black
        table.products__info
          tr.products__grey
            td.products__text Тип SIM-карты
            td.products__text.products__text--right Micro-SIM
          tr.products__white
            td.products__text Количество SIM-карт
            td.products__text.products__text--right 1
          tr.products__grey
            td.products__text Цвет
            td.products__text.products__text--right Белый
          tr.products__white
            td.products__text ОC
            td.products__text.products__text--right Android
          tr.products__grey
            td.products__text Связь 3G
            td.products__text.products__text--right Есть
          tr.products__white
            td.products__text 4G (LTE)
            td.products__text.products__text--right Нет
          tr.products__grey
            td.products__text GPS-модуль
            td.products__text.products__text--right Есть
    li.products__item.products__first--item
      a(href="#").products__link.products__link--link
        p.products__phone Microsoft Lumia 430 RM-10
        table.products__info
          tr.products__grey
            td.products__text Тип SIM-карты
            td.products__text.products__text--right Micro-SIM
          tr.products__white
            td.products__text Количество SIM-карт
            td.products__text.products__text--right 1
          tr.products__grey
            td.products__text Цвет
            td.products__text.products__text--right Белый
          tr.products__white
            td.products__text ОC
            td.products__text.products__text--right Android
          tr.products__grey
            td.products__text Связь 3G
            td.products__text.products__text--right Есть
          tr.products__white
            td.products__text 4G (LTE)
            td.products__text.products__text--right Нет
          tr.products__grey
            td.products__text GPS-модуль
            td.products__text.products__text--right Есть
    li.products__item.products__first--item
      a(href="#").products__link.products__link--link
        p.products__phone Senseit L301 Black
        table.products__info
          tr.products__grey
            td.products__text Тип SIM-карты
            td.products__text.products__text--right Micro-SIM
          tr.products__white
            td.products__text Количество SIM-карт
            td.products__text.products__text--right 1
          tr.products__grey
            td.products__text Цвет
            td.products__text.products__text--right Белый
          tr.products__white
            td.products__text ОC
            td.products__text.products__text--right Android
          tr.products__grey
            td.products__text Связь 3G
            td.products__text.products__text--right Есть
          tr.products__white
            td.products__text 4G (LTE)
            td.products__text.products__text--right Нет
          tr.products__grey
            td.products__text GPS-модуль
            td.products__text.products__text--right Есть
    li.products__item.products__first--item
      a(href="#").products__link.products__link--link
        p.products__phone HIGHSCREEN WinWin Black
        table.products__info
          tr.products__grey
            td.products__text Тип SIM-карты
            td.products__text.products__text--right Micro-SIM
          tr.products__white
            td.products__text Количество SIM-карт
            td.products__text.products__text--right 1
          tr.products__grey
            td.products__text Цвет
            td.products__text.products__text--right Белый
          tr.products__white
            td.products__text ОC
            td.products__text.products__text--right Android
          tr.products__grey
            td.products__text Связь 3G
            td.products__text.products__text--right Есть
          tr.products__white
            td.products__text 4G (LTE)
            td.products__text.products__text--right Нет
          tr.products__grey
            td.products__text GPS-модуль
            td.products__text.products__text--right Есть
    li.products__item.products__first--item
      a(href="#").products__link.products__link--link
        p.products__phone Alcatel OT4013D PIXI 3 (2 SIM)
        table.products__info
          tr.products__grey
            td.products__text Тип SIM-карты
            td.products__text.products__text--right Micro-SIM
          tr.products__white
            td.products__text Количество SIM-карт
            td.products__text.products__text--right 1
          tr.products__grey
            td.products__text Цвет
            td.products__text.products__text--right Белый
          tr.products__white
            td.products__text ОC
            td.products__text.products__text--right Android
          tr.products__grey
            td.products__text Связь 3G
            td.products__text.products__text--right Есть
          tr.products__white
            td.products__text 4G (LTE)
            td.products__text.products__text--right Нет
          tr.products__grey
            td.products__text GPS-модуль
            td.products__text.products__text--right Есть
    li.products__item.products__first--item
      a(href="#").products__link.products__link--link
        p.products__phone Fly IQ434 Era Nano 5
        table.products__info
          tr.products__grey
            td.products__text Тип SIM-карты
            td.products__text.products__text--right Micro-SIM
          tr.products__white
            td.products__text Количество SIM-карт
            td.products__text.products__text--right 1
          tr.products__grey
            td.products__text Цвет
            td.products__text.products__text--right Белый
          tr.products__white
            td.products__text ОC
            td.products__text.products__text--right Android
          tr.products__grey
            td.products__text Связь 3G
            td.products__text.products__text--right Есть
          tr.products__white
            td.products__text 4G (LTE)
            td.products__text.products__text--right Нет
          tr.products__grey
            td.products__text GPS-модуль
            td.products__text.products__text--right Есть
