section.products__first
  ul.products__list
    li.products__item.clearfix
      .slideshow
          .slide
            img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
          ul.slideshow__list
            li.slideshow__item
              a(href="#").slideshow__link
                img(src="http://lorempixel.com/136/136/animals" alt="slideshow").slideshow__img
            li.slideshow__item
              a(href="#").slideshow__link
                img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
            li.slideshow__item
              a(href="#").slideshow__link
                img(src="http://lorempixel.com/136/136/sports/1/Dummy-Text" alt="slideshow").slideshow__img
          p.slide__text Артикул <span class="slide__text--span">189238</span>
      .block-info
        .products__phone Samsung GT-I9301I GALAXY S 3
        .block-info__text.
          Смартфон Samsung GT-I9301I GALAXY S 3 Ceramic White
          Моноблок, Micro-SIM, Android 4.4, 3G, Bluetooth 4.0, EDGE, GPRS, WAP, Wi-Fi, Количество ядер процессора 4, Частота процессора 1400 МГц...
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 1
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Белый
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Есть
        ul.block__star
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item.block__star-item--white
            li.block__star-link--other 4
      .products__price 11 290 &#8381;
      .products__block.clearfix
          button(type="submit").products__basket В корзину
          p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/animals" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/sports/1/Dummy-Text" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">283135</span>
      .block-info
        .products__phone Microsoft Lumia 640 RM-1077
        .block-info__text.
          Вместе с новой Microsoft Lumia 640 Dual SIM (RM-1077) вы открываете мир ярких цифровых возможностей.
          Этот многофункциональный смартфон уже содержит набор бесплатных сервисов Microsoft...
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Белый
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Windows Phone
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right A-GPS
        ul.block__star
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item.block__star-item--white
            li.block__star-link--other 4
      .products__price 10 990 &#8381;
      .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/animals" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/sports/1/Dummy-Text" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">189238</span>
      .block-info
        .products__phone Archos 50 Oxygen Plus
        .block-info__text.
          Смартфон Archos 50 Oxygen Plus, серый. Моноблок, Micro-SIM, Android , 3G, Bluetooth, USB-подключение к ПК, Wi-Fi, Разрешение основной камеры 8 Мп...
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Серый
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Есть
        ul.block__star
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item.block__star-item--white
            li.block__star-link--other 4
      .products__price 9 900 &#8381;
      .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/animals" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/sports/1/Dummy-Text" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">189238</span>
      .block-info
        .products__phone Philips S398 Black
        .block-info__text.
          Смартфон Philips S398 Black. Черный корпус и разнообразие цветных панелей для Philips S398
          как нельзя лучше подчеркнут ваш статус и уверенность в себе. Преимущества этой модели...
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Белый
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Есть
        ul.block__star
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item.block__star-item--white
            li.block__star-link--other 4
      .products__price 8 990 &#8381;
      .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/animals" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/sports/1/Dummy-Text" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">189238</span>
      .block-info
        .products__phone Microsoft Lumia 430 RM-10
        .block-info__text.
          Смартфон Microsoft Lumia 430 RM-1099 black
          Куда бы вы ни направлялись, смартфон должен быть надежным спутником. Поэтому у Microsoft Lumia 430 Dual SIM (RM-1099) удобный компактный корпус ...
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Черный
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Windows Phone
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right A-GPS
        ul.block__star
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item.block__star-item--white
            li.block__star-link--other 4
      .products__price 5 390 &#8381;
      .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/animals" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/sports/1/Dummy-Text" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">387228</span>
      .block-info
        .products__phone Senseit L301 Black
        .block-info__text.
          Смартфон Senseit L301 black, черный. Micro-SIM,
          две поддерживаемых SIM-карты, Android, 3G, GPS-модуль...
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Черный
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Есть
        ul.block__star
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item.block__star-item--white
            li.block__star-link--other 4
      .products__price 4 990 &#8381;
      .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/animals" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/sports/1/Dummy-Text" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">359110</span>
      .block-info
        .products__phone HIGHSCREEN WinWin Black
        .block-info__text.
          Смартфон HIGHSCREEN WinWin Black оснащен 4" дисплеем и двумя слотами для SIM-карт.  Windows Phone , 3G, Bluetooth, USB-подключение к ПК...
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Черный
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Windows Phone
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Есть
        ul.block__star
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item.block__star-item--white
            li.block__star-link--other 4
      .products__price 3 990 &#8381;
      .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/animals" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/sports/1/Dummy-Text" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">189238</span>
      .block-info
        .products__phone Alcatel OT4013D PIXI 3 (2 SIM)
        .block-info__text.
          Смартфон Смартфон Alcatel OT4013D PIXI 3 (2 SIM).
          Смартфон Alcatel One Touch 4013D оснащен четырехдюймовым дисплеем и двумя слотами для SIM-карт...
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Белый
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right A-GPS
        ul.block__star
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item.block__star-item--white
            li.block__star-link--other 4
      .products__price 3 290 &#8381;
      .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/animals" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/sports/1/Dummy-Text" alt="slideshow").slideshow__img
      .block-info
        .products__phone Fly IQ434 Era Nano 5
        .block-info__text.
          Смартфон Fly IQ434 Era Nano 5 оснащен 3.5" дисплеем и двумя слотами для SIM-карт. Android 2.3, Micro SD, Wi-Fi....
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Черный
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Нет
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Нет
        ul.block__star
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item
            li.block__star-item.block__star-item--white
            li.block__star-link--other 4
      .products__price 1 790 &#8381;
      .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
