.products.products__third
  ul.products__list
    li.products__item.clearfix
      .slideshow
          .slide
            img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
          ul.slideshow__list
            li.slideshow__item
              a(href="#").slideshow__link
                img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
            li.slideshow__item
              a(href="#").slideshow__link
                img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
            li.slideshow__item
              a(href="#").slideshow__link
                img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          p.slide__text Артикул <span class="slide__text--span">189238</span>
      .block-info
        .products__phone Samsung GT-I9301I GALAXY S 3
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 1
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Белый
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Есть
        ul.block__star
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link.block__star-link--white
            li.block__star-other
              a(href="#").block__star-link--other 4
      .price-info
        .products__price 11 290 &#8381;
        .products__block.clearfix
          button(type="submit").products__basket В корзину
          p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">283135</span>
      .block-info
        .products__phone Microsoft Lumia 640 RM-1077
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Белый
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Windows Phone
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right A-GPS
        ul.block__star
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link.block__star-link--white
            li.block__star-other
              a(href="#").block__star-link--other 4
      .price-info
        .products__price 10 990 &#8381;
        .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">189238</span>
      .block-info
        .products__phone Archos 50 Oxygen Plus
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Серый
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Есть
        ul.block__star
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link.block__star-link--white
            li.block__star-other
              a(href="#").block__star-link--other 4
      .price-info
        .products__price 9 900 &#8381;
        .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">189238</span>
      .block-info
        .products__phone Philips S398 Black
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Белый
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Есть
        ul.block__star
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link.block__star-link--white
            li.block__star-other
              a(href="#").block__star-link--other 4
      .price-info
        .products__price 8 990 &#8381;
        .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">189238</span>
      .block-info
        .products__phone Microsoft Lumia 430 RM-10
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Черный
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Windows Phone
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right A-GPS
        ul.block__star
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link.block__star-link--white
            li.block__star-other
              a(href="#").block__star-link--other 4
      .price-info
        .products__price 5 390 &#8381;
        .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">387228</span>
      .block-info
        .products__phone Senseit L301 Black
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Черный
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Есть
        ul.block__star
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link.block__star-link--white
            li.block__star-other
              a(href="#").block__star-link--other 4
      .price-info
        .products__price 4 990 &#8381;
        .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">359110</span>
      .block-info
        .products__phone HIGHSCREEN WinWin Black
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Черный
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Windows Phone
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Есть
        ul.block__star
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link.block__star-link--white
            li.block__star-other
              a(href="#").block__star-link--other 4
      .price-info
        .products__price 3 990 &#8381;
        .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">189238</span>
      .block-info
        .products__phone Alcatel OT4013D PIXI 3 (2 SIM)
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Белый
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Есть
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right A-GPS
        ul.block__star
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link.block__star-link--white
            li.block__star-other
              a(href="#").block__star-link--other 4
      .price-info
        .products__price 3 290 &#8381;
        .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
    li.products__item.clearfix
      .slideshow
        .slide
          img(src="http://lorempixel.com/136/136/" alt="slide").slide__img
        ul.slideshow__list
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
          li.slideshow__item
            a(href="#").slideshow__link
              img(src="http://lorempixel.com/136/136/" alt="slideshow").slideshow__img
        p.slide__text Артикул <span class="slide__text--span">112234</span>
      .block-info
        .products__phone Fly IQ434 Era Nano 5
        table.products__info
            tr.products__grey
              td.products__text Тип SIM-карты
              td.products__text.products__text--right Micro-SIM
            tr.products__white
              td.products__text Количество SIM-карт
              td.products__text.products__text--right 2
            tr.products__grey
              td.products__text Цвет
              td.products__text.products__text--right Черный
            tr.products__white
              td.products__text ОC
              td.products__text.products__text--right Android
            tr.products__grey
              td.products__text Связь 3G
              td.products__text.products__text--right Нет
            tr.products__white
              td.products__text 4G (LTE)
              td.products__text.products__text--right Нет
            tr.products__grey
              td.products__text GPS-модуль
              td.products__text.products__text--right Нет
        ul.block__star
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link
            li.block__star-item
              a(href="#").block__star-link.block__star-link--white
            li.block__star-other
              a(href="#").block__star-link--other 4
      .price-info
        .products__price 1 790 &#8381;
        .products__block.clearfix
            button(type="submit").products__basket В корзину
            p.products__stock В наличии
